<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ergonominador</title>

  <!-- Carga del tag estático -->
  {% load static %}

  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/elearning_1570805.png' %}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/"><img src="{% static 'images/Designer.jpeg' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'images/Designer.jpeg' %}" alt="logo"/></a>
      
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/leoooo-removebg-preview.png' %}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              {% comment %} <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p> {% endcomment %}
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static  'images/faces/face3.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src=" {% static 'images/faces/face4.jpg' %}" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'chart' %}">ChartJs</a></li>
              </ul>
            </div>
          </li>
          
          
          
          
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 style="margin-top:20px" class="font-weight-bold">¡Leo, bienvenido al Ergonominador!</h3>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">January - March</a>
                      <a class="dropdown-item" href="#">March - June</a>
                      <a class="dropdown-item" href="#">June - August</a>
                      <a class="dropdown-item" href="#">August - November</a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="{% static 'images/dashboard/12062388_4872298.svg ' %}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Medellín</h4>
                        <h6 class="font-weight-normal"></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale" id="distancia-card">
                    <div class="card-body">
                      <p class="mb-4">Alertas de Distancia</p>
                      <p style="font-size: 15px" id="distancia-alerta" class="fs-30 mb-2">4006</p>
                      <p id = "fecha-distancia">N/A</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue" >
                    <div class="card-body">
                      <p class="mb-4">Distancia a la Pantalla</p>
                      <p id ="distancia-pantalla" class="fs-30 mb-2">N/A</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale" id="temperatura-card">
                    <div class="card-body">
                      <p  class="mb-4">Alertas de Temperatura</p>
                      <p style ="font-size: 15px" id= "temperatura-alerta"  class="fs-30 mb-2">N/A</p>
                      <p id= "fecha-temperatura" >N/A</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue" >
                    <div class="card-body">
                      <p class="mb-4">Pausas activas realizadas</p>
                      <p style="text-align:center;margin-top:15px" id ="cantidad_pausas" class="fs-30 mb-2">N/A</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div id= "postura-alerta" class="card card-success">
                    <div class="card-body">
                      <p class="mb-4">Alertas de Postura 🚦</p>
                      <p style="font-size: 15px" id= "mensaje-postura" class="fs-30 mb-2">Todo en orden, sigue trabajando cómodamente.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger" id="luz-card">
                    <div class="card-body">
                      <p class="mb-4">Alertas de Luz ambiente</p>
                      <p style="font-size: 15px" id= "luz-alerta" class="fs-30 mb-2">47033</p>
                      <p id= "fecha-luz">0.22% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Gráfica de Distancia a la pantalla</p>
                  <p class="font-weight-500">Mantener una distancia adecuada reduce la fatiga ocular y mejora la postura cervical, evitando molestias en el cuello y los hombros. Esta gráfica ayuda a identificar patrones para ajustar la distancia y evitar acercamientos excesivos o prolongados.</p>
                  
                  {% comment %} <canvas id="order-chart"></canvas> {% endcomment %}
                  <canvas id="sonidoChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Gráfica de temperatura ambiente</p>
                 </div>
                  <p class="font-weight-500">Trabajar en una temperatura óptima (entre 20-24°C) ayuda a mantener la comodidad y productividad. Esta gráfica es útil para detectar si el ambiente se vuelve demasiado caluroso o frío, lo que puede afectar el bienestar y la concentración del usuario.</p>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                  {% comment %} <canvas id="sales-chart"></canvas> {% endcomment %}
                  <canvas id="tempChart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="display:flex;justify-content:center">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Gráfica de Luz ambiente</p>
                  <p class="font-weight-500">La luz adecuada previene la fatiga visual y contribuye a una mejor ergonomía. Esta gráfica permite ajustar la iluminación para evitar niveles demasiado bajos o deslumbrantes, lo cual es crucial para la salud ocular.</p>
                  
                  {% comment %} <canvas id="order-chart"></canvas> {% endcomment %}
                  <canvas id="luzChart"></canvas>
                </div>
              </div>
            </div>
            
          </div>







          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 mt-3">
                            <p class="card-title">Monitoreo de posturas y pausas activas</p>
                              <h1 style="font-size:30px" class="text-primary">Semáforo</h1>
                              <p class="mb-2 mb-xl-0">Ayuda a mantener una postura saludable y a realizar pausas activas. El verde indica una postura adecuada, el amarillo sugiere una pausa, y el rojo requiere un cambio inmediato. Esta herramienta facilita el autocuidado y fomenta buenos hábitos posturales para evitar molestias físicas a largo plazo.</p>
                            </div>  
                            </div>
                          <div class="col-md-12 col-xl-9">
                            <div class="row">
                              <div class="col-md-6 border-right">
                                <div class="table-responsive mb-3 mb-md-0 mt-3">
                                  <table class="table table-borderless report-table">
                                    
                                  <tr style="visibility:hidden">
                                    <td class="text-muted">LED verde</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">664</h5></td>
                                  </tr>
                                  <tr style="visibility:hidden">
                                    <td class="text-muted">California</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">664</h5></td>
                                  </tr>
                                    <tr>
                                      <td class="text-muted">LED Verde</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">664</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">LED Amarillo</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">560</h5></td>
                                    </tr>
                                    <tr>
                                      <td class="text-muted">LED Rojo</td>
                                      <td class="w-100 px-0">
                                        <div class="progress progress-md mx-4">
                                          <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </td>
                                      <td><h5 class="font-weight-bold mb-0">793</h5></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                <canvas style="margin-top:60px" id="semaforoChart"></canvas>
                                <div id="north-america-legend"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. Universidad de Medellin. All rights reserved. Made by pol and lio</span>
            
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.youtube.com/watch?v=-eTzH1ecS6w" target="_blank">Malvados y asociados</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->

<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page -->

<script>
  // Configura los gráficos de Chart.js
  const tempCtx = document.getElementById('tempChart').getContext('2d');
  const sonidoCtx = document.getElementById('sonidoChart').getContext('2d');
  const luzCtx = document.getElementById('luzChart').getContext('2d');
  const semaforoCtx = document.getElementById('semaforoChart').getContext('2d'); // Contexto para la gráfica del semáforo

  const tempChart = new Chart(tempCtx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: 'Sensor de Temperatura (grados)',
              data: [],
              borderColor: 'rgba(75, 192, 192, 1)',
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              fill: true
          }]
      },
      options: {
          scales: {
              x: { title: { display: true, text: 'Tiempo' } },
              y: { title: { display: true, text: 'Valor' } }
          }
      }
  });

  const sonidoChart = new Chart(sonidoCtx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: 'Sensor de Ultrasonido (cm)',
              data: [],
              borderColor: 'rgba(255, 99, 132, 1)',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              fill: true
          }]
      },
      options: {
          scales: {
              x: { title: { display: true, text: 'Tiempo' } },
              y: { title: { display: true, text: 'Valor (cm)' } }
          }
      }
  });

  const luzChart = new Chart(luzCtx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
              label: 'Sensor de Luz',
              data: [],
              borderColor: 'rgba(54, 162, 235, 1)',
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              fill: true
          }]
      },
      options: {
          scales: {
              x: { title: { display: true, text: 'Tiempo' } },
              y: { title: { display: true, text: 'Valor' } }
          }
      }
  });

 // Configurar el gráfico de semáforo
const semaforoChart = new Chart(semaforoCtx, {
  type: 'doughnut', // Cambia a 'doughnut' para una gráfica de dona
  data: {
      labels: ['Verde', 'Amarillo', 'Rojo'],
      datasets: [{
          data: [0, 0, 0], // Inicialmente, los datos están vacíos
          backgroundColor: ['#28a745', '#ffc107', '#dc3545'],
          hoverOffset: 4
      }]
  },
  options: {
      responsive: true,
      plugins: {
          legend: {
              position: 'top',
          },
          title: {
              display: true,
              text: 'Distribución del tiempo por color de semáforo'
          }
      }
  }
});

// Función para actualizar los gráficos en tiempo real
function updateCharts() {
  $.ajax({
      url: "{% url 'get_sensor_data' %}",
      method: "GET",
      success: function (data) {

          $("#cantidad_pausas").text(data.verde_count);
          
          if (data.sonido_values && data.sonido_values.length > 0) {
            console.log(data.sonido_values);
            $("#distancia-pantalla").text(data.sonido_values[data.sonido_values.length - 1] + " cm");
          } else {
              $("#distancia-pantalla").text("N/A");
          }

          // Actualiza los gráficos de temperatura, sonido y luz
          tempChart.data.labels = data.temp_timestamps;
          tempChart.data.datasets[0].data = data.temp_values;

          sonidoChart.data.labels = data.sonido_timestamps;
          sonidoChart.data.datasets[0].data = data.sonido_values;

          luzChart.data.labels = data.luz_timestamps;
          luzChart.data.datasets[0].data = data.luz_values;

          // Actualiza el gráfico del semáforo
          semaforoChart.data.datasets[0].data = [
              data.semaforo_tiempos['Verde'],
              data.semaforo_tiempos['Amarillo'],
              data.semaforo_tiempos['Rojo']
          ];

          // Refresca todos los gráficos
          tempChart.update();
          sonidoChart.update();
          luzChart.update();
          semaforoChart.update(); // Refresca el gráfico del semáforo
      },
      error: function (error) {
          console.error("Error al obtener los datos del sensor:", error);
      }
  });
}

// Llama a updateCharts cada 5 segundos
setInterval(updateCharts, 5000);

// Llama a updateCharts al cargar la página por primera vez
updateCharts();
</script>

<style>
  .highlight {
    box-shadow: inset 0 0 10px rgba(255, 0, 0, 1); /* Añade un poco de sombra para hacer que el borde resalte */
    transition: border 0.2s ease; /* Para que la transición sea suave */
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function animateCard(cardId) {
        const card = $("#" + cardId);
        card.addClass("highlight");
        setTimeout(() => {
            card.removeClass("highlight");
        }, 3000); // Duración de la animación en milisegundos
    }

    function fetchLatestAlerts() {
        $.ajax({
            url: "{% url 'get_alerts' %}", // Asegúrate de que 'get_alerts' sea la URL correcta en tus rutas de Django
            method: "GET",
            success: function(data) {
                // Verifica si existe una alerta de "Postura"
                if (data.Postura) {
                    const semaforo = data.Postura.semaforo;
                    const posturaMensajeDiv = $("#postura-alerta");
                    const posturaMensajeText = $("#mensaje-postura");

                    // Cambiar el color de fondo y el mensaje dependiendo del semáforo
                    if (semaforo === "Amarillo") {
                        posturaMensajeDiv.removeClass().addClass("card card-light-blue");
                        posturaMensajeText.text("Precaución / Advertencia: Es momento de hacer una pausa y cambiar de posición.");
                    } else if (semaforo === "Rojo") {
                        posturaMensajeDiv.removeClass().addClass("card card-danger");
                        posturaMensajeText.text("Atención urgente: Necesitas cambiar de postura o tomar un descanso inmediato.");
                    } else if (semaforo === "Verde") {
                        posturaMensajeDiv.removeClass().addClass("card card-success");
                        posturaMensajeText.text("Todo en orden, sigue trabajando cómodamente.");
                    }
                }

                // Verifica si existe una alerta de "Distancia" y actualiza el contenido del <p> correspondiente
                if (data.Distancia) {
                    $("#distancia-alerta").text(data.Distancia.message);
                    $("#fecha-distancia").text(data.Distancia.created_at);
                    console.log("created_at: "+data.Distancia.created_at)
                    animateCard("distancia-card"); // Llama a la animación
                }

                // Verifica si existe una alerta de "Temperatura"
                if (data.Temperatura) {
                    $("#temperatura-alerta").text(data.Temperatura.message);
                    $("#fecha-temperatura").text(data.Temperatura.created_at);
                    animateCard("temperatura-card"); // Llama a la animación
                }

                // Verifica si existe una alerta de "Luz"
                if (data.Luz) {
                    $("#luz-alerta").text(data.Luz.message);
                    $("#fecha-luz").text(data.Luz.created_at);
                    animateCard("luz-card"); // Llama a la animación
                }
            },
            error: function(error) {
                console.error("Error al obtener las alertas:", error);
            }
        });
    }
    
    // Llama a fetchLatestAlerts cada 5 segundos
    setInterval(fetchLatestAlerts, 5000);
</script>
</body>
</html>
